<h1>IdeaBox</h1>
<form action='/' method='POST'>
  <p>
  Your Idea:
  </p>
  <label for='title'>Title: <br />
    <input type='text' id="title" name='idea[title]'/><br/>
  </label>
  <label for="">Tags:<br />
  <input type="text" name="idea[tags]" id="tags" value="" /></label><br />
  <label for='description'>Description:<br />
    <textarea name='idea[description]'></textarea><br/>
  </label>
  <input type='submit'/>
</form>

<h3>Existing Ideas</h3>
<ul>
  <% ideas.each do |idea| %>
    <li>
      [<%= idea.rank %>]
      <form action="/<%= idea.id %>/like" method="post" style="display: inline">
        <input type="submit" value="+" />
      <%= idea.title %>
      <%= idea.tags %>
      <%= idea.description %>
      </form>
      <a href="/<%= idea.id %>/edit">Edit</a>
      <form action="/<%= idea.id %>" method="post">
        <input type="hidden" name="_method" value="DELETE" />
        <button type="sumbit" value="delete" />delete</button>
      </form>
    </li>
  <% end %>
</ul>
